__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
checkpoints/
ckpt_analysis/
data/
dist/
gpt_data/
llama-2-7b-finetune/
tensorboard/
examples/gpt3/gpt-345m-ckpts/
examples/gpt3/gpt2_345m/
examples/gpt3/gpt_345m_dp/
